body {
    background-color: rgb(255, 252, 249);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  };

h1 {
  font-size: 1rem;
  color:  rgb(55, 84, 55);
}

h2{
  font-size: 2rem;
  color: rgb(55, 84, 55);
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:15%; 
  height:15%;
}

nav {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 100%;
}


nav a{
  text-decoration: none;
  font-size: 1.5rem;
  float: none;
  padding-right: 75px;
  color: rgb(55, 84, 55);
  float: none;
  flex: 1;
}

#cart-image{
  width: 30%; 
  height:25%; 
}

section {
  display: flex;
}

picture{
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#main-pic{
  box-shadow: 10px 10px 50px grey;
  
}

picture p:nth-child(3) {
  font-size: 1.25rem;
  margin-top: 50px;
}


article {
  flex: 1;
  padding-top: 1%; 
  padding-bottom: 3%;
  margin-right: 4%;
  text-align: center;
  color: rgb(55, 84, 55);
}

article p:nth-child(3){
  padding-top: 5%; 
  padding-bottom: 10%; 
  width: 75%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
}

article img{
  padding-top: 2%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


a.button {
  background-color: #026014;
  text-align: center;
  border: none;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 3%;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.flex-container {
  display: flex;
}

.dropdown {
  overflow: hidden;
  font-size: 1.5rem;
}

.dropdown .dropbtn {
  font-size: 1.25rem;  
  border: none;
  padding-right: 75px;
  outline: none;
  color: rgb(55, 84, 55);
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.copywrite-image {
  flex: 0;
  margin-left: auto;
  margin-right: 25px;
  margin-top: 25px;
}  

.copywrite-text {
  margin-right: auto;
  height: 50%;
  padding: 20px;
  margin-top: 25px;
  color: grey
} 

footer{
  padding-top: 3%;
}

@media screen and (max-width: 720px) {
  nav {
    display: block;
  }
  nav a{
    text-decoration: none;
    font-size: 0.75rem;
    margin-top: 3%;
    display: block;
    padding-right: 10px;
  }
  .dropdown {
    font-size: 0.75rem;
    margin-top: 3%;
    padding-left: 18%;
    display: block;
  }
 section{
    display: block;
    max-width:100%;
    height: auto;
  }
 picture{
    display: block;
    max-width:100%;
    height: auto;
  }
  h2{
    font-size: 1.1rem;
    color: rgb(55, 84, 55);
  }
  picture p:nth-child(3) {
    font-size: 0.8rem;
    margin-top: 5%;
  }
  header > img {
    width:20%; 
    height:20%;
  }
  #cart-image{
    width: 8%; 
    height:8%; 
  }
}

@media only screen and (min-width : 2000px) {
  body {
    max-width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}
